.product-list__wrapper-picture{
  flex: 0 0 180px;
}

.product-list__picture{
  width: 180px;
  height: 180px;
  border-radius: 4px;
  &:hover{
    box-shadow: 0 0 5px $primary;
  }
}

.product-list__wrapper-info{
  padding: 16px 16px 16px 0;
}

.product-list__price{
  font-size: 24px;
  margin-bottom: 32px;
  font-weight: normal;
}

.product-list__currency{  
  margin-right: 5px;
}

.product-list__title{
  font-size: 18px;
}

.product-list__state{
  font-size: 12;
}

.product-list__link{
  color: $dark;
}

.product-list__shipping{
  margin-left: 5px;
}