.product{
  padding: 32px;
}

.product__info{
  padding: 32px;
}

.product_picture{
  max-width: 100%;
  margin-bottom: 32px;
  margin: 0 auto;
}

.product__meta{
  font-size: 14px;
  margin-bottom: 16px;
}

.product__title{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 32px;
}

.product__price{
  font-size: 46px;
  margin-bottom: 32px;
  font-weight: normal;
  position: relative;
}

.product__price__decimal{
  font-size: 24px;
  position: absolute;
  top: 5px;
}

.product__description_title{
  font-size: 28px;
  margin-bottom: 32px;
}

.product__description_text{
  font-size: 16px;  
}